.fwpmanip-repeat {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 1px 0 0 #d84315 inset, -37px 0 0 #f5f5f5 inset, -38px 0 0 #ddd inset, 0 2px 3px rgba(0, 0, 0, 0.05);
    margin: 0 0 -1px 0;
    padding: 0 37px 0 3px;
    position: relative;
}
.fwpmanip-repeat > .fwpmanip-control {
    padding: 6px 12px;
}
.fwpmanip-repeat > .fwpmanip-grid {
    padding: 6px 12px;
}
.button.button-small.fwpmanip-remover {
    padding: 1px 2px;
    position: absolute;
    right: 6px;
    top: 6px;
}
.repeatable-footer {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 6px;
}
.fwpmanip-repeat .fwpmanip-repeat {
    border-left: 8px solid #f6f6f6;
    padding-left: 1px;
    margin-left: 0;
    box-shadow: 1px 0 0 #d84315 inset, -37px 0 0 #f5f5f5 inset, -38px 0 0 #ddd inset, 0 2px 3px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    width: 100%;
}
.fwpmanip-repeat .repeatable-footer {
    border-left: 0 none;
    border-right: 0 none;
    margin: 0 0 -1px;
    padding: 8px 0 8px 8px;
}

.fwpmanip-repeat:last-child > .repeatable-footer {
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}
.fwpmanip-repeat:hover{
    background-color: #fafafa;
}